# Exploration

In [1]:
import pandas as pd

df = pd.read_csv('data/train.csv')

In [2]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,...,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0,0,0,T,Y,Green,Triangle,Snake,Finland,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,1,0,1,0,T,Y,Green,Trapezoid,Hamster,Russia,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,2,0,0,0,F,Y,Blue,Trapezoid,Lion,Russia,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,3,0,1,0,F,Y,Red,Trapezoid,Snake,Canada,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,4,0,0,0,F,N,Red,Trapezoid,Lion,Canada,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0

In [3]:
# We have a large imbalance in our data
df['target'].value_counts()

0    208236
1     91764
Name: target, dtype: int64

In [24]:
df['ord_5'].value_counts()

od    5019
fO    3435
Zq    2926
sD    2880
qP    2854
      ...
eg      47
tv      40
kU      37
vq      35
Cl      28
Name: ord_5, Length: 192, dtype: int64

In [37]:
y = df['ord_5'].map(lambda x : ord(x[1])*150 + ord(x[0]))

In [50]:
df['nom_5'].value_counts().reset_index()

         index  nom_5
0    f7821e391   2801
1    06eeaf0aa   2750
2    472efea17   2729
3    20b10a832   2725
4    b97f51ac4   2717
..         ...    ...
217  91c80026f     64
218  88f104c00     59
219  f802a9849     46
220  1fd0233cd     41
221  f710fca39     26

[222 rows x 2 columns]

In [53]:
df['nom_6'].value_counts()

d173ac7ca    1218
2ed5a94b0    1210
c9eedfbc2    1193
50d7ad46a    1175
0922e3cb8    1169
             ...
26bf5ddd9      16
28630a5c8      12
8367b78fc      11
e97824431       8
4dcab4fc8       5
Name: nom_6, Length: 522, dtype: int64

In [55]:
df['nom_7'].value_counts().index[:10]

Index(['3a114adea', '3b679e531', '6f3940b72', 'fcf2b8dce', 'fe27cc23d',
       'c6344321c', 'c75a7f5f8', 'a0be4f3da', 'c6dfa929a', 'bb5a78030'],
      dtype='object')